*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Open sans;
	height: 120vh;
}

.nav-bar {
	list-style-type: none;
	background-color: white;
	padding-left: 50px;
	padding-right: 70px;
	padding-top: 15px;
	height: 65px;
	width: 100%;
	position: fixed;
	display: inline-block;
	vertical-align: top;

	/*z-index: 1;*/
}

.nav-logo {
	margin-left: 50px;
}

.nav-logo, .nav {
	position: relative;
	display: inline;
}

.right-nav {
	display: inline-block;
	float: right;
}

.nav {
	padding-left: 1em;
	padding-right: 1em;
}

.tuitt-button {
	background-color: #c2195b;
	font-weight: bold;
	color: white;
	padding: 10px;
	border-radius: 20px;
	border: none;
}

/*BACKGROUND IMAGE*/
#bg-image {
/*	padding-top: 100px;*/
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: relative;
}

.container {
	min-height: 50vh;
	padding-right: 60px;
	text-align: right;
	color: white;
}

.front-bg {
	background-color: rgba(0, 0, 0, 0.5);
}

h1.title {
	font-family: Zilla Slab;
	font-size: 2.5rem;
	font-weight: 600;
	padding-top: 130px;
	margin-bottom: 1rem;
	text-align: right;
	margin-left: auto;
	width: 30%;
}

h2.subtitle {
	font-size: 1.33rem !important;
	font-weight: normal;
	margin-left: auto;
	text-align: right;
	width: 30%;
	margin-bottom: 1rem;
}

.apply-button {
	background-color: #c2195b;
	font-weight: bold;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 30px;
	padding-left: 30px;
	border-radius: 20px;
	border: none;
}


/*INTRODUCTION*/
section.intro {
	margin-top: 50px;
	margin-bottom: 50px;
}

.title-2 {
	font-family: Zilla Slab;
	text-align: center;
	color: #393536;
	padding-bottom: 50px;
}

.intro-description {
	color: #393536;
	font-size: 1rem;
	text-align: justify;
	padding-left: 10%;
	padding-right: 10%;
}


/*PREFOOTER*/
.pre-footer {
	background-color: #f7fbfb;
	padding-top: 60px;
	padding-bottom: 25px;
	text-align: center;
}

.title-3 {
	font-family: Zilla Slab;
	color: #393536;
	margin-bottom: 30px;
}

.prefooter-description {
	color: #393536;
	font-size: 1rem;
	padding-left: 10%;
	padding-right: 10%;
}

.book-button {
	background-color: #336589;
	font-weight: bold;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 30px;
	padding-left: 30px;
	border-radius: 20px;
	border: none;
	margin-top: 15px;
}


/*FOOTER*/
footer {
	color: #393536;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

span {
	margin-left: 10px;
	margin-right: 10px;
}